@import url(https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext);
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font: 1em Lato, Arial, sans-serif;
  background: url("../img/restaurant.png") repeat;
  /* subtlepatterns.com */
}
.header {
  margin: 25px 0;
}
.header__title {
  font-size: 3.500em;
  font-weight: 700;
  text-align: center;
  color: #69a6a2;
}
.container {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.product-add__title,
.product-list__title{
  font-size: 2.000em;
  padding: 15px 0;
  color: #b5edea;
  text-transform: uppercase;
  background-color: #79AEAB;
}
.product-add {
  width: 400px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 0 15px #555;
}
.product-add__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px 0 25px;
  color: #333;
}
.product__input {
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid #7FC5C1;
  color: #333;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  -ms-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
}
.product__input:hover,
.product__input:focus {
  box-shadow: 0 0 3px #7FC5C1;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  -ms-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.product__btn {
  border: 1px solid #7FC5C1;
  background-color: #79BBB7;
  color: #fff;
  font-size: 1.100em;
  padding: 5px;
  margin: 5px 0;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.product__btn:hover,
.product__btn:focus {
  cursor: pointer;
  background-color: #8accc8;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.product-list {
  width: 400px;
  min-height: 300px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 0 15px #666;
}
.product-list__list {
  padding: 15px 25px;
}
.list__item {
  border-bottom: 1px solid #444;
  position: relative;
}
.product__name {
  background-color: #8BC8C4;
  padding: 6px;
  color: #fff;
  position: relative;
  text-transform: lowercase;
}
.product__name:first-letter {
  text-transform: uppercase;
}

.product__remove{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}
.product__info {
  display: flex;
  flex-direction: row;
  background-color: rgba(200, 200, 200, 0.3);
  color: #444;
  padding: 5px 0;
}
.product__info > div {
  flex: 1;
}
